.CatalogPopularList{
    text-align: center;
    h3{
        font-size: 24px;
        margin-bottom: 20px;
    }

}
.central{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}